*.o
*.pyc
__pycache__
.git
.DS_Store
.vscode
.idea
build/

# Ignore everything in output by default
output/**

# But keep the artifacts we actually want in git
!output/**/*.out
!output/**/*.png
!output/**/*.log
!output/**/

!output/.gitkeep
